<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola a todos</title>
</head>
<body>
    <h1>Enviar Datos de Persona</h1>
    
    <form id="personForm">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="age">Edad:</label>
        <input type="number" id="age" name="age" required><br>

        <label for="cedula">Cedula:</label>
        <input type="number" id="cedula" name="cedula" required><br>

        <button type="submit">Enviar</button>
    </form>

    <script src="app.js"></script>
</body>
</html>